<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Питомник Елизарова</title>
    {% load static %}
    <style type="text/css">
      @font-face {
        font-family: Arial;
        src: url({% static 'vendor\fonts\arial.ttf' %});
      }
      div { font-family: arial; }
    </style>
  </head>
  <body>
    <div>
      <h3 align="center" style="font-size:18px"><u><b>Заказ №{{ order.id }} от {{ order.created|date:"d E Y" }}г.</b></u></h3>
    </div>
    <br>
    <div style="margin-left:50px">
      <p style="font-size:14px">Имя: {{ order.first_name }}</p>
      <p style="font-size:14px">Фамилия: {{ order.last_name }}</p>
      <p style="font-size:14px">Телефон: {{ order.phoneNumber }}</p>
      <p style="font-size:14px">e-mail: {{ order.email }}</p>
    </div>
    <br><br>
    <div style="margin-left:20px">
      <table width="100%" cellpadding="5">
          {% for item in seedlings %}
            {% include "cart/order_pdf_item.html" %}
          {% endfor %}
          {% load user_filters %}
          <tr><td colspan="24" style="text-align:right; font-size:14px" height="80"><b>Итого:</b></td><td colspan="6" style="font-size:14px"><b>{{ seedlings.get_total_price|int_view }} р.</b></td></tr>
      </table>
    </div>
  </body>
</html>
