.cart__caption {
  margin: 0;
}

@media all and (max-width: 1000px) {
  .cart__caption {
    grid-row: 2/4;
    align-self: flex-start;
  }
}

@media all and (max-width: 760px) {
  .cart__caption {
    font-size: 12px;
  }
}

@media all and (max-width: 560px) {
  .cart__caption {
    grid-row: 4/5;
  }
}