.swiper {
  width: 100%;
  /* min-height: 440px; */
  color: #fff;
}

.swiper__images {
  color: #fff;
  /* background: url(../../images/penza.png) center/cover no-repeat #2a2c2f; */
  min-height: 440px;
  position: relative;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.swiper__images::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #2a2c2f;
  opacity: .4;
  transition: opacity .2s ease-in-out;
}

.swiper__image {
  object-fit: cover;
  /* height: 440px; */
  width: 100%;
  /* background-color: #2a2c2f;
  opacity: .6; */
}

.swiper__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.46;
  z-index: 2;
  color: #fff;
  position: absolute;
  display: flex;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

.swiper__button-prev {
  left: 0;
  right: auto;
  position: absolute;
  top: calc(50% - 25px);
  /* bottom: 0; */
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper__button-prev::after {
  content: '';
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-color: #ebebeb;
  background-image: url(../../images/swiper-button-prev.svg);
  opacity: .7;
}

.swiper__button-prev:hover {
  opacity: .75;
}

.swiper__button-next {
  left: auto;
  right: 0;
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
}

.swiper__button-next::after {
  content: '';
  width: 30px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  background-color: #ebebeb;
  background-image: url(../../images/swiper-button-next.svg);
}

.swiper__button-next:hover {
  opacity: .75;
}

.swiper__pagination {
  position: absolute;
  z-index: 3;
  margin-left: calc((100% - 30px)/2);
  margin-top: -25px;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

@media all and (max-width: 730px) {
  .swiper__images {
    min-height: 300px;
  }

  .swiper__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.16;
  }

  .swiper__button-prev {
    left: -5px;
  }
  
  .swiper__button-prev::after {
    width: 20px;
    height: 30px;
    border-radius: 30px;
  }
  
  .swiper__button-next {
    right: -5px;
  }
  
  .swiper__button-next::after {
    width: 20px;
    height: 30px;
    border-radius: 30px;
  }
  
}