.order {
  margin: 50px;
}

.order__title {
  text-align: center;
  text-decoration: underline;
}

.order__list {
  list-style-type: decimal;
  margin: 50px 0;
  padding: 0;
}

.order__item {
  display: flex;
  gap: 40px;
}
