{% if cards.has_other_pages %}
  <div class="container">
    <div class="row justify-content-center">
      <nav>
        <ul class="pagination">
          {% if cards.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ cards.previous_page_number }}">&laquo; Прwедыдущая</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">&laquo; Предыдущая</span>
            </li>
          {% endif %}
          {% for i in cards.paginator.page_range %}
            {% if cards.number == i %}
              <li class="page-item active">
                <span class="page-link">{{ i }}
                  <span class="sr-only">(текущая)</span>
                </span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if cards.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ cards.next_page_number }}">Следующая &raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Следующая &raquo;</span>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endif %}
