.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: inherit;
  padding-top: 19px;
  padding-bottom: 30px;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
}