.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: inherit;
  padding: 19px calc(25%/10);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
}