{% extends "base.html" %}
{% block content %}
  {% load static %}
  <section class="login">
    <img src="{% static 'images/login.gif' %}" alt="Пальцем набирает шифр" class="login__image">
    <div class="login__content">
      <h4>Для входа в личный кабинет введите ваши учетные данные</h4>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="login__button">Войти</button>
        <a href="/auth/password_reset/" class="login__button">Сбросить пароль</a>
        <br>
        <a href="/users/signup/" class="login__button">Зарегистрироваться</a>
      </form>
    </div>
  </section>
{% endblock %} 