

.card-description__image {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin: 0 20px 10px 0;
}



.card-description__title {

  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 20px 0;

  text-align: center;

}

.card-description__price-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-columns: 50% 50%; */
  grid-auto-flow: column;
}

.card-description__quanity {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}

.card-description__price {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
}

.card-description__button {
  background-color: #cecaca;
  width: 130px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(84, 84, 84, 0.7);
  transition: opacity .3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: transform .3s ease-in-out;
  text-decoration: none;
  justify-self: end;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  /* grid-row: 2/3; */
  /* align-items: center; */
}

.card-description__button:hover {
  transform: scale(1.05, 1.05);
}

.card-description__caption {
  text-align: justify;
  margin: 20px 0 0 0;
  font-size: 15px;
  font-weight: 400;

}

.card-description__line {
  grid-column: 1/3;
  width: 100%;

  border: 0;
  height: 1px;
  background: rgba(84, 84, 84, 0.7);

}

@media all and (max-width: 950px) {
  .card-description__price-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .card-description__quanity {
    margin: 0;
  }

  .card-description__price {
    margin: 0;
  }
}

@media all and (max-width: 500px) {
  .card-description {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }

  .card-description__image {
    grid-row: 2/3;
    float: none;
    margin: 0;
    width: 100%;
  }

  .card-description__price-container {
    /* align-items: center; */
    align-items: flex-end;
    justify-self: end;

  }

  .card-description__title {
    grid-row: 0/1;
    font-size: 18px;
    margin: 0;
  }

  .card-description__caption {
    font-size: 14px;
    margin: 0;
  }

  .card-description__button {
    font-size: 14px;
  }
}