.element__caption {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  min-height: 70px;
  background-color: #e8e8e8;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 600px) {
  .element__caption {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    min-height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}