.element__button-card {
  border: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
  transition: transform .3s ease-in-out;
}

.element__button-card:hover {
  transform: scale(1.05, 1.05);
}

.element__image {
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 352px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  border-radius: 5px;
}

.element__caption {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  min-height: 70px;
  background-color: #e8e8e8;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 600px) {
  .element__image {
    height: 61vw;
  }

  .element__caption {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    min-height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
