.card-description__image {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  margin: 0 20px 10px 0;
}

@media all and (max-width: 500px) {
  .card-description__image {
    grid-row: 2/3;
    float: none;
    margin: 0;
    width: 100%;
  }
}