<!DOCTYPE html>
<html lang="ru">
{% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index">
    <meta name="Keywords" content="саженцы в пензе, саженцы в саранске, саженцы в рузаевке, саженцы в мордовии, саженцы в ковылкино, питомник пенза, питомник саранск, питомник рузаевка, питомник исса, питомник кавылкино, купить саженцы, саженцы, магазин саженцев, саженцы интернет, каталог саженцев, питомник саженцев,">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <title>{% block title %}Саженцы плодово-ягодных и декаративных растений{% endblock %} | Питомник Елизарова</title>
  </head>
  <body class="page">
    {% include 'includes/header.html' %}
    <main class="content page__section">
      {% block content %}
      {% endblock %}
      {% include 'includes/paginator.html' %}
    </main>
    {% include 'includes/footer.html' %}
    <script src="{% static 'pages/index.js' %}"></script>
  </body>
</html>