.login__button {
  background-color: #cecaca;
  width: 180px;
  min-height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(84, 84, 84, 0.7);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: transform .3s ease-in-out;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}