.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin: 0 0 0 60px;
  padding: 0;
  position: relative;
}

.categories__button-title {
  width: 170px;
  min-height: 30px;
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  background-color: #f4f4f4;
  border-radius: 2px;
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;

}

.categories__button-title::before {
  content: '';
  background-image: url(../../images/categories-button-title.svg);
  background-repeat: no-repeat;
  background-position: right 6px center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 10px 40px;
}

.categories__current {
  display: none;
}

.categories__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* gap: 10px; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  min-height: 30px;
text-align: center;
}

.categories__button {
  background-color: #f9f9f9;
  width: 170px;
  min-height: 30px;
  border-radius: 3px;
  border: 1px solid rgba(84, 84, 84, 0.7);
  cursor: pointer;
  transition: transform .3s ease-in-out;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories__button_active {
  font-weight: 500;
  background-color: #e8e8e8;
}

.categories__button:hover {
  transform: scale(1.05, 1.05);
}

@media all and (max-width: 900px) {
  .categories {
    margin-left: 0;
  }
}

@media all and (max-width: 800px) {
  .categories {
    gap: 0;
    border: 1px solid rgba(84, 84, 84, 0.7);
    width: 170px;
    display: block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-color: #f4f4f4;
    border-radius: 2px;
  }

  .categories__item {
    margin-bottom: 10px;
  }

  .categories__list {
    width: calc(100% - 2px);
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: -1px;
    z-index: 1;
    border: 2px solid #e3e3e3;
    background-color: #f4f4f4;
    display: none;
  }

  .categories__list_opened {
    display: block;
  }

  .categories__button-title {
    display: flex;
  }

  .categories__button {
    border: none;
    width: 100%;
    font-size: 14px;
  }

  .categories__button_active {
    background-color: #f9f9f9;
    font-weight: 600;
  }
}
