{% extends "base.html" %}
{% block title %}Создание нового пароля{% endblock %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
  {% load user_filters %}
  {% if validlink %}
    <div>
      <h3>Введите новый пароль</h3>
      <div>
        {% if form.errors%}
          <ul>
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <div style="color: red">
                  - {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
          </ul>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div>
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                  <span class="required">*</span>
                {% endif %}
              </label>
              <div>
                {{ field }}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>                
            </div>
          {% endfor %}
          <div style="margin: 20px 0">       
            <button type="submit">
              Назначить новый пароль
            </button>
          </div>
        </form>
      </div>
    </div>
  {% else %}
    <section>
      <br><br>
      Ошибка!
      <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
      <br><br><br><br><br><br>
    </section>
  {% endif %}
{% endblock %}
