.card__button-cart {
  background-color: #cecaca;
  width: 95%;
  min-height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(84, 84, 84, 0.7);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: transform .3s ease-in-out;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__button-cart:nth-of-type(2n) {
  justify-self: end;
}

.card__button-cart:hover {
  transform: scale(1.05, 1.05);
}

@media all and (max-width: 610px) {
  .card__button-cart {
    width: 90%;
    min-height: 25px;
    font-size: 12px;
    font-weight: 500;
  }
}